/*
	Splendid Sports Store Styles
*/

body {
	font-family: 'Mali', cursive;
	font-size: 20px;
	background-color: cornflowerblue;
	color: white;
}
h1 {
	font-size: 40px;
}
select {
	font-family: 'Charmonman', cursive;
	background-color: orange;
}
table, th, td {
	vertical-align: top;
}
img {
	vertical-align: top;	
}

/*
	Banner Styles
*/

.main-banner {
    	width: 100%;
    	min-width: 1105px;
    	height: 40px;
    	background-color: white;
    	opacity: 0.5;
	float: left;
	top: -15px;
	position: relative;
}

.tabs {
	width: 1105px;
    	height: 40px;
    	display: inline-block;
}

.banner-item {
    	width: 150px;
    	height: 40px;
    	display: inline-block;
    	text-decoration: none;
    	float: left;
    	text-align:center;
    	padding-top: 5px;
}

/*
	Button Styles
*/

.button{
	background-color: white;
    	border-color: #311d1e;
    	opacity: 0.6;
    	border-radius: 15px;
    	text-decoration: none;
    	color: black;
    	padding: 5px;
}

